body {
  background: linear-gradient(-5deg, #ff4136, #ff851b, #ffdc00) !important;
  background-size: 400% 400%;
  animation: gradient 7s ease infinite !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
  z-index: 2;
}

input {
  top: 0px;
  left: 10px;
  z-index: 100;
}

#audio-canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#the-file {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.generate-button {
  visibility: hidden;
}

#play-pause {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

h1 {
  display: inline-block;
  padding: 0.3em;
  font-family: 'Megrim', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: translate(-50%, -50%);
  color: white;
  border: 0.075em solid white;
}
