@import url(https://fonts.googleapis.com/css2?family=Karla&display=swap);

.title {
  display: 'flex';
  font-family: 'Karla' !important;
}

.text-align {
  position: absolute;
  left: 20px;
  top: 20%;
  padding: 10px;
  color: white;
  border: 3px solid orange;
}

/* .home-border {
  border: 3px solid orange;
} */

.title-button {
  font-size: large;
  position: absolute;
  left: 5px;
  top: 50%;
  padding: 10px;
}
